<div class="post">
    <h2>Post title</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse aperiam odit quas eaque, aliquam, perspiciatis consequatur cum hic assumenda eum earum libero modi nemo corporis eligendi sed tenetur dolorum fugiat.</p>
</div>