<p>Programming book list!</p>
 <button [disabled]="isDisabled">Show Books</button> <!--binding зберігає тип, а interpolation завжди string - тому в більшості true -->
<ul>
  <li>
    <img [src]="src" [alt]="name" width="100px"/>
    {{name}} by {{author}}
  </li>
  <li>
    <img [src]="src2" [alt]="name2" width="100px"/>
    {{name2}} by {{author2}}
  </li>
</ul>



